<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Trello for Desktop

  link(rel="stylesheet", href="./stylesheets/main.css")

body
  main(
    class="welcome"
    role="main"
  )
    h1.welcome__title
      | Welcome to Trello

    button.welcome__btn
      | Connect To Trello

