<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Trello for Desktop

  link(
    rel="stylesheet"
    href="./stylesheets/main.css"
  )

body
  #loggedout
    main(
      class="welcome"
      role="main"
    )
      h1.welcome__title
        | Welcome to Trello

      button.welcome__btn#connectLink
        | Connect To Trello

  script(src="./bower_components/jquery/dist/jquery.min.js")
  script(type='text/javascript').
    try {
      $ = jQuery = module.exports;
    } catch(e) {}
  
  script(src="./scripts/trello.js")
  script(src="./scripts/main.js")
